<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Token Generator</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/api.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/tokenGenStyle.css" />
</head>
<body>
<div class="container">
    <section id="content">
        <form action="">
            <h1>Generate Token</h1>

            <div>
                <input type="submit" value="GENERATE"  name="generate" />

            </div>

            <div>
                <input type="text" placeholder="Customer Number if available" required="" id="customerNumber" />
            </div>
        </form><!-- form -->

    </section><!-- content -->
</div><!-- container -->
</body>
</html>